# gclient files
/.cipd
/.gclient_*
/depot_tools
/.git-cache
/.cipd
/_gclient_*

# electron build tools
/build-tools

# ignore gsync'd source files
/src/*
!/src/electron

# clangd
/compile_commands.json
/.cache
/.last_run_stamp

# Visual Studio
/.vs

# Logs
debug.log
renderer.log
